{% extends 'equipe/remover/administrador/base.html' %}
{% block administrador %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4>Confirmar Exclusão</h4>
                </div>
                <div class="card-body">
                    <p>Você tem certeza de que deseja remover <strong>{{ passageiro }}</strong> da
                        equipe
                        da campanha
                        <strong>{{ campanha.titulo }}</strong>?
                    </p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="tipo" value="{{ tipo }}"> <!-- "administrador" ou "passageiro" -->
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'listarEquipe' campanha.id %}" class="btn btn-secondary">Cancelar</a>
                            <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}